/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #000 !important;
}

.dark-mode .form-control {
  background-color: #2c2c2c;
  color: #fff;
  border-color: #444;
}

.dark-mode a {
  color: #9ecbff;
}